<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Hyperspace by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Cabeleleila Leila</a></li>
							<li><a href="#one">Voce mais bonita</a></li>
							<li><a href="#two">Serviços</a></li>
							<li><a href="#three">Contato</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Hyperspace</h1>
							<p>Just another fine responsive site template designed by <a href="http://html5up.net">HTML5 UP</a><br />
							and released for free under the <a href="http://html5up.net/license">Creative Commons</a>.</p>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="images/pic01.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Seja cliente!</h2>
									<p>Ainda não é cadastrado? Está perdendo o melhor serviço da cidade!</p>
									<ul class="actions">
										<li><a href="cadastro" class="button">Cadastre-se Ja!</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="images/pic02.jpg" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
									<h2>Um freguês!</h2>
									<p>Você ja conhece a leila e está querendo uma consulta né?</p>
									<ul class="actions">
										<li><a href="login" class="button">Entrar</a></li>
									</ul>
								</div>
							</div>
						</section>
						
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Serviços da Leila</h2>
							<p>Esses são os Serviços oferecidos pela Leila, Caso o desejado não esteja aqui, por favor ligue para Leila</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Cabeleleila</h3>
									<p>Cortes, penteados, chapinha, pintura, Tudo o que o seu cabelo precisar a Leila faz!</p>
								</section>
								<section>
									<span class="icon solid major fa-lock"></span>
									<h3>Manicure e Pedicure</h3>
									<p>Manicure e Pedicure, com esmalte da casa ou o seu!</p>
								</section>
								<section>
									<span class="icon solid major fa-cog"></span>
									<h3>Sobrancelha</h3>
									<p>Sobrancelhas e Maquiagens para te deixar gatona!</p>
								</section>
								<section>
									<span class="icon solid major fa-desktop"></span>
									<h3>Depilação</h3>
									<p>Depilação para deixar o toque suave e a pele macia!</p>
								</section>
							</div>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Informações de Contato</h2>
							<p>Caso o serviço desejado não esteja na lista, ou voce PRECISA falar com a Leila, os contatos são esses, Obrigada por conferir!</p>
							<div class="split style1">
									<ul class="contact">
										<li>
											<h3>Endereço</h3>
											<span>Rua que eu inventei, 343<br />
											Marília, São Paulo, 17514-633<br />
										</li>
										<li>
											<h3>Email</h3>
											<a href="#">emailDaLeila@outlook.com</a>
										</li>
										<li>
											<h3>Telefone</h3>
											<span>(14) 99912-2383</span>
										</li>
										
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>CREDITO DO DESIGN: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>